[Unit]
Description=Monitors aquaponics systems
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/Workshop/AquaBot/
ExecStart=/usr/bin/python3 ./pi/main.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
